/**
 * Global Styles.
 */

html,
body,
.root {
  height: 100%;
  position: relative;
  width: 100%;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  background-color: #f2f2f2;
}

.chevron-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.chevron-button:active {
  background-color: rgba(255, 255, 255);
}

.chevron-button {
  background-color: rgba(255, 255, 255, 0.7);
}

.ReactVirtualized__Grid {
  outline: none;
}
